<%- include('../partials/header') %>

<%- include('../partials/folderNav') %>
<div class="content">
<form action="/folders/<%= folder._id %>?_method=PUT" method="POST">
    <div id="update-folder">
        <textarea name="name"><%= folder.name %></textarea><br>
        <textarea name="description" cols="40"><%= folder.description %></textarea>
    </div>
    <button type="submit">Update Folder</button>
</form>

<% if (materialsInFolder.length) { %>
    <% materialsInFolder.forEach(m => { %>
        <div class="compound">
            <label><a href="/materials/<%= m.name %>"><%= m.name %></a></label>
            <a href="/materials/<%= m.name %>">
                <img src="data:image/png;base64,<%= m.imageBase64 %>" alt="Chemical Structure">
            </a>
            <form action="/folders/<%= folder._id %>/materials/<%= m._id %>?_method=DELETE" method="POST">
                <button type="submit">Remove</button>
            </form>
        </div>
    <% }) %>
<% } %>

<% if (materials.length) { %>
<form action="/folders/<%= folder._id %>/materials" method="POST">
    <select name="name">
        <% materials.forEach(m => { %>
            <option value="<%= m.name %>"><%= m.name %></option>
        <% }) %>
    </select>
    <button type="submit">Add Compound to Folder</button>
</form>
<% } %>

<form action="/folders/<%= folder._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Folder</button>
</form>

<%- include('../partials/footer') %>