<%- include('../partials/header') %>

<%- include('../partials/folderNav') %>
<p><%= folder.description %></p>
<form action="/folders/<%= folder._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Folder</button>
</form>

<%- include('../partials/footer') %>