<%- include('../partials/header') %>

<form action="/search" method="GET">
    <input type="text" name="q" placeholder="Search by Name" required>
    <button type="submit">Search</button>
</form>
<% if (cid) { %>
    <h2><%= name %></h2>
    <h2>CID: <%= cid %></h2>
    <a href="https://pubchem.ncbi.nlm.nih.gov/compound/<%= cid %>">PubChem</a>
    <a href="https://pubchem.ncbi.nlm.nih.gov/compound/<%= cid %>#section=Chemical-Vendors&fullscreen=true">Vendors</a>
    <% if (imageBase64) { %>
        <img src="data:image/png;base64,<%= imageBase64 %>" alt="Chemical Structure">
        <% if (req.user) { %>
            <form action="/materials" method="POST">
                <input type="hidden" name="name" value="<%= name %>">
                <input type="hidden" name="cid" value="<%= cid %>">
                <input type="hidden" name="imageBase64" value="<%= imageBase64 %>">
                <button type="submit">Save Compound</button>
            </form>
        <% } %>
    <% } %>
<% } else { %>
    <p>No results :(</p>
<% } %>

<%- include('../partials/footer') %>